<script>  
  import FiltersDates from './filters/Dates.svelte'
  import FiltersTypes from './filters/Types.svelte'
</script>

<section id="filters" class="collapse show bg-light py-4">
  <div class="container">
    <ul class="nav nav-tabs" id="filtersTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="dates-tab"
          data-bs-toggle="tab"
          data-bs-target="#dates-tab-pane"
          type="button"
          role="tab"
          aria-controls="dates-tab-pane"
          aria-selected="true"
        >
          Période
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="budgets-tab"
          data-bs-toggle="tab"
          data-bs-target="#budgets-tab-pane"
          type="button"
          role="tab"
          aria-controls="budgets-tab-pane"
          aria-selected="false"
        >
          Budgets
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="users-tab"
          data-bs-toggle="tab"
          data-bs-target="#users-tab-pane"
          type="button"
          role="tab"
          aria-controls="users-tab-pane"
          aria-selected="false"
        >
          Contributeurs
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="activities-tab"
          data-bs-toggle="tab"
          data-bs-target="#activities-tab-pane"
          type="button"
          role="tab"
          aria-controls="activities-tab-pane"
          aria-selected="false"
        >
          Activités
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="dates-tab-pane"
        role="tabpanel"
        aria-labelledby="home-tab"
        tabindex="0"
      >
        <FiltersDates/>
      </div>
      <div
        class="tab-pane fade"
        id="budgets-tab-pane"
        role="tabpanel"
        aria-labelledby="profile-tab"
        tabindex="0"
      >
        <FiltersTypes type={'budgets'}/>
      </div>
      <div
        class="tab-pane fade"
        id="users-tab-pane"
        role="tabpanel"
        aria-labelledby="contact-tab"
        tabindex="0"
      >
      <FiltersTypes type={'users'}/>
      </div>
      <div
        class="tab-pane"
        id="activities-tab-pane"
        role="tabpanel"
        aria-labelledby="disabled-tab"
        tabindex="0"
      >
      <FiltersTypes type={'activities'}/>
      </div>
    </div>
  </div>
  
</section>


<style >
  .nav-tabs .nav-link {
      border: none;
      background-color: transparent;
      color : darkgrey
    }

    .nav-tabs .nav-link.active {
      color :black;
      border-bottom : 2px solid black;
    }
  
</style>