<script>  
  
</script>

<nav class="navbar navbar-dark bg-primary sticky-top ">
  <div class="container">
    <a href="" class="navbar-brand">Loot dashboard </a>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#filters"
      aria-expanded="false"
    >
      Filters
    </button>
  </div>
</nav>

<style></style>