<script>
  import { data } from "../store/data";
  
  import { filteredData } from "../store/data";
  import { navigation } from "../store/navigation";
  

  import Home from "./view/Home.svelte"
  import ViewBudgets from "./view/Budgets.svelte"
  import ViewUsers from "./view/Users.svelte"
  import ViewNav from "./ViewNav.svelte"
  import ViewCalendar from "./view/Calendar.svelte"

</script>
<div class="main-view container ">

  {#if $navigation.loading }
    <div class="row row-cols-12">
      <div class="d-flex justify-content-center">

        
      
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <p class="m-2">
            Une petite minute... Je vais chercher les données dans votre Loot !
          </p>
          
      </div>
    </div>
    
  {:else}

  
  
  <div class="row">
    <div class="col-2">
      <ViewNav />
      
    </div>

    <div class="col">
      {#if $navigation.view == 'home'}
        <Home source={$filteredData} />
      {:else if $navigation.view == 'budget'}
        <ViewBudgets source={$filteredData} />
      {:else if $navigation.view == 'user'}
        <ViewUsers source={$filteredData} />
      {:else if $navigation.view == 'calendar'}
        <ViewCalendar source={$filteredData}/>
      {/if}
    </div>
  </div>
    
  {/if}

</div>



<style>
  .main-view {
    padding-top: 2rem;
    margin-bottom : 8rem;
  }
</style>