<script>
    import {navigation} from "../store/navigation"
    import { filteredData } from "../store/data";
    import { prepareCSVExport } from "../utils/parse"

    navigation.setView('home');

    function goTo(path) {
        navigation.setView(path)
    }

</script>

<ul class="nav flex-column me-4">
  <li class="nav-item">
    <a class="nav-link { $navigation.view == 'home' ? 'active' : '' }" href="#" on:click={() => goTo('home')}>
      <i class="bi-house-fill" />
      Accueil
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link { $navigation.view == 'budget' ? 'active' : '' }" href="#" on:click={() => goTo('budget')}>
      <i class="bi-wallet-fill" />
      Par budgets
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link { $navigation.view == 'user' ? 'active' : '' }" href="#" on:click={() => goTo('user')}>
      <i class="bi-person-fill" />
      Par contributeurs
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link { $navigation.view == 'calendar' ? 'active' : '' }" href="#" on:click={() => goTo('calendar')}>
      <i class="bi-calendar-date-fill" />
      Par périodes
    </a>
  </li>
  <li>
    {#await $filteredData}
      <p>Preparing data...</p>
    {:then filteredData} 
    <a class="nav-link link-secondary" href={prepareCSVExport(filteredData)} download="export.csv">
      <i class="bi-cloud-download-fill"></i>
      Télécharger .CSV
    </a>
    {/await}
  </li>
</ul>

<style>
    .nav .nav-item:first-child .nav-link {
        padding-top : 0.5rem
    }

    .nav-link {
      color: grey;
      border-bottom : 1px solid lightgrey;
      padding: 2rem 1rem 2rem 0;
      font-size: 0.9rem;
      text-align: center;
      font-weight: 300;
    }

    .nav-link.active {
        color: black;
        font-weight: 600;
    }

    .nav-link i {
        display: block;
        
    }
  </style>
