<script>
  import { start } from '@popperjs/core';
  import {dates} from '../../store/dates';

  let startDate = '';
  let endDate = '';

  $: dates.setStartDate(startDate)
  $: dates.setEndDate(endDate)

</script>

<form class="my-3">
    <div class="row">
      <div class="col">
        <label for="date-start" class="form-label">Date de début</label>
        <input type="date" class="form-control" id="date-start" bind:value={startDate}/>
      </div>
      <div class="col">
        <label for="date-end" class="form-label">Date de fin</label>
        <input type="date" class="form-control" id="date-end" bind:value={endDate} />
      </div>
    </div>
  </form>