<script>
  import { filters } from "../../store/filters";
  import { dates } from "../../store/dates";

  function handleClick(type, item) {
    filters.toggleFilter({ type, item });
  }
</script>

{#if $filters.length > 0 || $dates.start!='' || $dates.end!=''}
  <div class=" bg-light py-4">
    <div class="container">
      <h6>Votre sélection actuelle 
      {#if $dates.start && $dates.end}
        pour la période du {new Date($dates.start).toLocaleDateString("fr")} au
        {new Date($dates.end).toLocaleDateString("fr")}
      {/if}
      {#if $dates.start && !$dates.end}
        depuis le {new Date($dates.start).toLocaleDateString("fr")}
      {/if}
      {#if !$dates.start && $dates.end}
        jusqu'au {new Date($dates.end).toLocaleDateString("fr")}
      {/if}</h6>
      {#each $filters as a}
        <!-- svelte-ignore a11y-missing-attribute -->
        <div on:click|preventDefault={handleClick(a.type, a.item)} class="badge bg-primary me-2 mb-2">

          {#if a.type == "budgets"}
            <i class="bi-wallet2 pe-2" style="font-size: 1.1rem;"/>
          {:else if a.type == "users"}
             <i class="bi-person-check-fill pe-2" style="font-size: 1.1rem;" />
          {:else if a.type == "activities"}
            <i class="bi-lightning-charge-fill pe-2" style="font-size: 1.1rem;"/>
          {/if}

          {a.item.label}
          <button
            type="button"
            class="btn-close btn-close-white"
            aria-label="Close"
          />
        </div>    
      {/each}


    </div>

    
  </div>
{/if}
