<script>
  import { data } from "../../store/data";
  import { filters } from "../../store/filters";
  export let type = "budgets";

  let searchString = "";
  let filterItems = [];
  let checked = [];
  let showArchivedBudgets = false;

  
  $: filterItems = [...getItems($data, searchString)];
  $: checked = filterItems.map(
    (i) =>
      $filters.findIndex((obj) => obj.type == type && obj.item.id == i.id) > -1
  );

  function getItems(data, search) {
    let items = [];

    switch (type) {
      case "budgets":
        items = data.budgets
          .filter(
            (i) => i.title.toLowerCase().indexOf(search.toLowerCase()) > -1
          )
          .map((i) => ({ ...i, label: i.title }));
        break;
      case "users":
        items = data.users
          .filter(
            (i) => i.name.toLowerCase().indexOf(search.toLowerCase()) > -1
          )
          .map((i) => ({ ...i, label: i.name }));
        break;
      case "activities":
        items = data.activities
          .filter(
            (i) => i.title.toLowerCase().indexOf(search.toLowerCase()) > -1
          )
          .map((i) => ({ ...i, label: i.title }));
        break;

      default:
        console.log(`${type} is not a valid filter.`);
    }
    return items.sort((a, b) => a.label.localeCompare(b.label));
  }

  function handleClick(type, item) {
    filters.toggleFilter({ type, item });
  }

  function toggleArchive(){
    showArchivedBudgets = !showArchivedBudgets;

  }

</script>

<div class="row">
  <div class="col-3">
    <form class="my-3">
      <input
        type="text"
        class="form-control"
        id="{type}-search"
        placeholder="Rechercher"
        bind:value={searchString}
      />
      {#if type == "budgets"}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="showArchivedBudgets" bind:checked={showArchivedBudgets} on:click={ toggleArchive}>
          <label class="form-check-label" for="showArchivedBudgets">
            Voir les budgets archivés
          </label>
        </div>
      {/if}
      
    </form>
    <p class="legend">Sélectionner les items pour lesquels vous souhaitez afficher les données</p>
  </div>
  <div class="col pt-3">
    {#await $data}
      <p>Loading data...</p>
    {:then data}
      <ul class="list-group list-group-flush" id="budget-items">
        {#each filterItems as item, index}
          {#if ( type != "budgets" || (type == "budgets" && (!item.archived || (item.archived && showArchivedBudgets) )) ) }        
            <label class="list-group-item list-group-item-action budget-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value=""
                aria-label={item.label}
                on:click={handleClick(type, item)}
                bind:checked={checked[index]}
              />
              {item.label}
            </label>
          {/if}
        {/each}
      </ul>
    {/await}
  </div>
</div>

<style>
  ul {
    height: 200px;
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .legend {
    font-size: 0.8rem;
    font-style: italic;
  }
</style>
