<script>
  import { data } from "../../store/data";
  import { getFieldById } from "../../utils/parse";
  import { getStatistics } from "../../utils/stats";

  export let source = [];
  let sortField = "contributor";
  let sortAscOrder = true;
  let isExpanded = false;

  const columns = [
    {
      field: "id",
      label: "#",
      width: "5",
      sortOn: "value",
      display: (v) => `${v}`,
    },
    {
      field: "contributor",
      label: "Contributeur",
      width: "20",
      sortOn: "display",
      display: (v) => `${getFieldById($data, "users", v, "name")}`,
    },
    {
      field: "activities",
      label: "Activités",
      width: "25",
      sortOn: "display",
      display: (v) => `${getFieldById($data, "activities", v, "title")}`,
    },
    {
      field: "doned",
      label: "Date",
      width: "10",
      sortOn: "value",
      display: (v) => `${new Date(v).toLocaleDateString("fr")}`,
    },
    {
      field: "duration",
      label: "Durée",
      width: "10",
      sortOn: "value",
      display: (v) => (v === null ? `-` : `${v} h`),
    },
    {
      field: "amount",
      label: "Montant",
      width: "10",
      sortOn: "value",
      display: (v) => (v === null ? `-` : `${v} ${budgetUnitSymbol}`),
    },
    {
      field: "retribution",
      label: "Rétribution",
      width: "20",
      sortOn: false,
      display: (v) => `${getFieldById($data, "retributions", v, "reference")}`,
    },
  ];

  let datatable = [];
  $: datatable = getDataTable(source.items, sortField, sortAscOrder);

  function sortTable(data, name, asc) {
    const result = data.sort((a, b) => {
      const sortOn = columns.find((i) => i.field === name).sortOn;
      const aValue = a.find((i) => i.field === name)[sortOn];
      const bValue = b.find((i) => i.field === name)[sortOn];
      if (asc) return aValue < bValue ? -1 : aValue > bValue ? 1 : 0;
      else return aValue > bValue ? -1 : aValue < bValue ? 1 : 0;
    });
    return result;
  }

  function getDataTable(source, _sortField, _sortOrder) {
    
    let data = [];
    source.forEach((d) => {
      let row = [];
      columns.forEach((col) => {
        let cell = {};
        cell.field = col.field;
        cell.value = d[col.field];
        cell.display = col.display.call(this, cell.value);
        row.push(cell);
      });
      data.push(row);
    });
    return sortTable(data, _sortField, _sortOrder);
  }

  $: stats = getStatistics(source.items, $data);
  const budgetName = getFieldById($data, "budgets", source.type, "title");
  const budgetDescription = getFieldById(
    $data,
    "budgets",
    source.type,
    "subtitle"
  );
  const budgetUnit = getFieldById($data, "budgets", source.type, "unit");
  const budgetUnitSymbol = getFieldById(
    $data,
    "budgets",
    source.type,
    "unitSymbol"
  );
  const budgetAmount = getFieldById($data, "budgets", source.type, "amount");
  const budgetReferentId = getFieldById($data, "budgets", source.type, "referent")
  const budgetReferent = getFieldById($data, "users", budgetReferentId, "name")
  function doSortTable(field) {
    if (sortField === field) {
      sortAscOrder = !sortAscOrder;
    } else {
      sortAscOrder = true;
      sortField = field;
    }
  }

  function expandTable(_isExpanded) {
    isExpanded = _isExpanded;
  }

  console.log(source)
</script>

<div class="card budget-card">
  <div class="card-header">
    <h5 class="card-title">{budgetName}</h5>
    <small><strong>Budget total : {budgetAmount} {budgetUnitSymbol} <i>({budgetUnit})</i></strong></small><br>
    
    <p style="font-size : 0.9rem">{budgetDescription}</p>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: {(stats.totalAmount[source.type] / budgetAmount) * 100}%;"
        aria-valuenow={stats.totalAmount[source.type]}
        aria-valuemin="0"
        aria-valuemax={budgetAmount}
      >
        {stats.totalAmount[source.type]} / {budgetAmount}
        {budgetUnitSymbol}
      </div>
    </div>
  </div>
  <div class="card-body { isExpanded ? 'expanded' : ''}">
    {#if !isExpanded && datatable.length > 4}
      <p class="text-center">
        <button class="btn btn-outline-primary btn-sm" on:click="{ () => expandTable(true) }">Etendre la vue</button>
      </p>
    {/if}
    <table class="table mb-5 table-sm table-striped" style="font-size : 0.9rem">
      <thead>
        <tr>
          {#each columns as col}
            <th class="table-header" scope="col" width="{col.width}%">
              <button
                class="{col.field === sortField ? 'active' : ''} {sortAscOrder
                  ? 'asc'
                  : 'desc'}"
                on:click={() => doSortTable(col.field)}>{col.label}</button
              >
            </th>
          {/each}
        </tr>
      </thead>
      <tbody>
        {#each datatable as d}
          <tr>
            {#each d as cell}
              <td>{cell.display}</td>
            {/each}
          </tr>
        {/each}
        
      </tbody>
    </table>
    {#if isExpanded}
      <p class="text-center">
        <button class="btn btn-outline-primary btn-sm" on:click="{ () => expandTable(false) }">Réduire la vue</button>
      </p>
    {/if}
  </div>
  <div class="card-footer">
    <div class="row">
      
      <div class="col text-center">
        <h4>{stats.totalContribution} <span class="stat-legend">contributions</span></h4>
      </div>
      <div class="col  text-center">
        <h4>{stats.totalDuration} <span class="stat-legend">heures</span></h4>
      </div>
      <div class="col text-center">
        <h4>{stats.totalAmount[source.type]} {budgetUnitSymbol} <span class="stat-legend">{Math.floor((stats.totalAmount[source.type] / budgetAmount) * 100)}% du budget global</span></h4>
      </div>
      <div class="col text-center">
        <h4>{stats.contributionMin ? stats.contributionMin : ''}
          - 
          {stats.contributionMax ? stats.contributionMax : '-'} {budgetUnitSymbol}  <span class="stat-legend">Min-Max</span></h4>
      </div>
      <div class="col text-center">
        <h4>{stats.retributedContributionRatio}%  <span class="stat-legend">rétribuées</span></h4>
      </div>
      <div class="col text-center">
        <h4>{stats.averageContributionAmountByHour}{budgetUnitSymbol}/h  <span class="stat-legend">en moyenne</span></h4>
      </div>
    </div>
  </div>
</div>


<style lang="scss">

  .stat-legend {
    display: block;
    font-size: 0.85rem;
  }

  .budget-card {
    margin-bottom: 4rem;
    .card-body {
      max-height: 220px;
      overflow: auto;
    }
    .card-body.expanded {
      max-height: fit-content;
      overflow: none;
    }

  }

  
  .table-header {
    button {
      background: none;
      border: none;
      font-weight: bold;
    }
    button.active {
      color: rgb(13, 110, 253);
    }
    button.active.asc:after {
      content: "\2191";
      text-decoration: none;
    }
    button.active.desc:after {
      content: "\2193";
      text-decoration: none;
    }
  }

  .hidden {
    display: none;
  }
</style>
