<script>
  import { data } from "../../store/data";
  import {getItemsGroupedBy, getFieldById} from "../../utils/parse"

  import BudgetDetail from "../view/BudgetDetail.svelte"

  export let source = [];

  $: items = getItemsGroupedBy(source, "budget").sort( (a,b) => { 
    const aValue = getFieldById($data, "budgets", a.type, "title");
    const bValue = getFieldById($data, "budgets", b.type, "title");
    return aValue < bValue ? -1 : aValue > bValue ? 1 : 0;
  });

</script>

<h6 class="mb-6">Vues par budgets<hr></h6>

{#each items as item (item.type)}
  <BudgetDetail source={item} />
{:else}
  <p> Aucune données ne correspond. Vérifiez votre source de données ou modifier vos filtres.</p>
{/each}
