<script>
  import { data } from "../../store/data";
  import { getFieldById } from "../../utils/parse";
  import {accumulate,getGraphLabels,getGraphValues,getGraphRange} from "../../utils/graph"
  import { onMount } from "svelte";
  import Chart from "chart.js/auto";
  export let source = [];

  let labels = [];
  let linearDataSet = [];
  let showLinearDataset = false;
  let graphRange = {years : [], selected : null};
  let ctx;
  let myChart;
  

  $: graphRange = getGraphRange(source,graphRange.selected);
  $: labels = getGraphLabels(graphRange.selected)
  $: items = accumulate(
    getGraphValues(source,graphRange.selected).map((i) => {
      return i.reduce((acc, value) => (acc += value.amount), 0);
    })
  );

  
  $: if (myChart) {
    myChart.data.datasets[0].data = items;

    const budgets = [...new Set(source.map((c) => c.budget))];

    let total = 0;
    budgets.forEach( b => {
      const amount = getFieldById($data, "budgets", b, "amount");
      if(amount) total += parseInt(amount);
    })

    
    let monthlyAmount = total/52;
    for (let i=0; i<52; i++) {
      linearDataSet[i] = monthlyAmount * i
    }
    myChart.data.datasets[1].data = linearDataSet;

    myChart.update();
  }

  
  onMount(async (promise) => {
    
    myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: labels,
        datasets: [
          {
            label: "Contributions",
            backgroundColor: "rgb(255, 99, 132)",
            borderColor: "rgb(255, 99, 132)",
            data: items,
          },
          {
            label: "Budget total (répartition hebdomadaire)",
            backgroundColor: "rgb(0, 99, 132)",
            borderColor: "rgb(0, 99, 132)",
            borderWidth : 1,
            pointRadius : 1,
            data: linearDataSet,
            hidden : true            
          }
        ],
      },
      options: {
        plugins: {
            legend: {
                position : 'bottom',
                "onClick": function (e,l) {
                  if(l.datasetIndex === 1)
                    toggleLinearDataset()
                }

            }
        }
    }
    });
  });

  function toggleLinearDataset(){
    showLinearDataset = !showLinearDataset
    if (myChart) {
      myChart.getDatasetMeta(1).hidden = !showLinearDataset;
      myChart.update();
    }
  }
  

</script>

<div>
  <h6 class="mb-6">
    Vues par Date
    <hr />
  </h6>

  Vue par année : 
  <select name="year" id="year" bind:value={graphRange.selected}>
    {#each graphRange.years as y }
      <option value="{y}" >{y}</option>
    {/each}
  </select>

  
 
  <canvas id="myChart" width="400" height="200" bind:this={ctx} />

  <hr>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="showLinearDataset" bind:checked={showLinearDataset} on:click={ toggleLinearDataset}>
    <label class="form-check-label" for="showLinearDataset">
      Voir la répartition linéaire hebdomadaire du budget total
    </label>
  </div>
  <p class="graph-legend" >
    <i>
    <strong>Attention</strong>, si votre sélection contient plusieurs budgets, le graph est établi sur un cumul d'unités potentiellement différentes. Tenez en compte, ou sélectionnez au préalable des budgets de même unité. La répartition annuelle linéaire est basée sur le budget cumulé global de votre sélection. Si votre budget n'est pas annuel, la représentation graphique proposée est la projection du budget total sur l'année sélectionnée.
  </i></p>
</div>

<style>
  .graph-legend {
    font-size: 0.8rem;
  }
</style>