<script>
    import { data } from "../../store/data";
    import {getStatistics} from "../../utils/stats"

    export let source = []
    let homeStats = {};
    $: stats = getStatistics(source,$data);
    
    $: homeStats ={
        nbBudgets : [...new Set(source.map(item => item.budget))].length,
        nbContributors : [...new Set(source.map(item => item.contributor))].length,
    }

</script>
<h6 class="mb-6">Bienvenue sur votre dashboard !<hr></h6>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
          <div class="card-header" > {homeStats.nbBudgets}</div>
          <div class="card-body">
            <h5 class="card-title">Budgets</h5>
            <p class="card-text">Budgets ayant enregistés au moins une contribution pour les filtres selectionnés.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header" > {homeStats.nbContributors}</div>
          <div class="card-body">
            <h5 class="card-title">Contributeurs</h5>
            <p class="card-text">Contributeurs ayant enregistés au moins une contribution pour les filtres selectionnés.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header" > {source.length}</div>
          <div class="card-body">
            <h5 class="card-title">Contributions</h5>
            <p class="card-text">Total des contributions ayant été enregistées pour les filtres selectionnés.</p>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card">
        <div class="card-header" > {stats.totalDuration}</div>
        <div class="card-body">
          <h5 class="card-title">Heures totales de contribution</h5>
          <p class="card-text">Inclus l'ensemble des temps passés pour les cotributions sur un budget pour lequel le suivi de temps est activé</p>
        </div>
      </div>
    </div>
    
    </div>
  <style>
    .card-header  {
        text-align: center;
        font-size: 6rem;
        background-color: transparent;
    }

    .card-text {
        font-style: italic;
    }
  </style>