<script>
  import { data } from "../../store/data";
  import {getItemsGroupedBy, getFieldById} from "../../utils/parse"
  import UserDetail from "../view/UserDetail.svelte"


  export let source = [];
let stat = {}
  

  $: items = getItemsGroupedBy(source, "contributor").sort( (a,b) => { 
    const aValue = getFieldById($data, "users", a.type, "name");
    const bValue = getFieldById($data, "users", b.type, "name");
    return aValue < bValue ? -1 : aValue > bValue ? 1 : 0;
  });
  

</script>
<h6 class="mb-6">Vues par Contributeurs<hr></h6>

{#each items as item (item.type)}
  <UserDetail source={item} />
{:else}
  <p> Aucune données ne correspond. Vérifiez votre source de données ou modifier vos filtres.</p>
{/each}
