<script>
  import { Duration } from "luxon";
  import { data } from "../../store/data";
  import { getFieldById } from "../../utils/parse";
  import { getStatistics } from "../../utils/stats";

  export let source = [];
  let expanded = [];
  $: stats = getStatistics(source.items, $data);
  const userName = getFieldById($data, "users", source.type, "name");

  function groupExtractOn(items, groupField) {
    const unique = [...new Set(items.map((item) => item.budget))];
    let itemByGroup = [];
    unique.forEach((b) => {
      let group = {};
      group.budget = b;
      group.name = getFieldById($data, "budgets", b, "title");
      group.data = items.filter((i) => i.budget === b);
      group.totalAmount = group.data.reduce((acc, obj) => {
        acc += obj.amount != null ? parseFloat(obj.amount) : 0;
        return acc;
      }, 0);
      group.totalDuration = group.data.reduce((acc, obj) => {
        acc += obj.duration != null ? parseFloat(obj.duration) : 0;
        return acc;
      }, 0);
      itemByGroup.push(group);
    });
    return itemByGroup;
  }

  function toggleDetails(index){
    expanded[index] ? expanded[index] = !expanded[index] : expanded[index] = true;
  }
</script>

<div class="card budget-card">
  <div class="card-header">
    <h5 class="card-title">{userName}</h5>
  </div>
  <div class="card-body">
    <table class="table table-sm ">
      <thead>
        <tr>
          <th width="5%" scope="col"></th>
          <th width="55%" scope="col">Budget</th>
          <th width="20%" scope="col">Durée totale</th>
          <th width="20%" scope="col">Montant total</th>

        </tr>
      </thead>
      <tbody>
        {#each groupExtractOn(source.items, "budget") as group,index}
          <tr>
            <td>
              <button class="expand-table btn btn-outline-primary btn-sm" on:click={ ()=> toggleDetails(index)  } >
                {expanded[index] ? '-' : '+'}
              </button>
            </td>
            <td >{group.name}</td>
            <td width="10%">{group.totalDuration} h </td>
            <td width="10%">{group.totalAmount} {getFieldById($data, "budgets", group.budget, "unitSymbol")}</td>  
          </tr>
          {#if (expanded[index])}  
            <tr>
              <td colspan="4">
                <div class="data-details">

                  <table class="table mb-5 table-sm table-striped">
                    <thead>
                      <tr>
                        <th width="5%" scope="col">#</th>
                        <th width="25%" scope="col">Activités</th>
                        <th width="10%" scope="col">Date</th>
                        <th width="10%" scope="col">Durée</th>
                        <th width="10%" scope="col">Montant</th>
                        <th width="20%" scope="col">Rétribution</th>
                      </tr>
                    </thead>
                    <tbody>
                      {#each group.data as c}
                        <tr>
                          <td width="5%" scope="row">{c.id}</td>
                          <td width="25%">{getFieldById($data, "activities", c.activities, "title")}</td>
                          <td width="10%">{new Date(c.doned).toLocaleDateString("fr")}</td>
                          <td width="10%">{c.duration === null ? "-" : c.duration + " h"}</td>
                          <td width="10%">
                            {c.amount === null ? "-" : [c.amount,getFieldById($data, "budgets", c.budget, "unitSymbol")].join(" ")}
                          </td>
                          <td width="20%">{getFieldById($data,"retributions",c.retribution,"reference")}</td>
                        </tr>
                      {/each}
                    </tbody>
                  </table>

                </div>
              </td>
            </tr>
          {/if}
        {/each}
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col text-center">
        <h4>
          {stats.numberOfBudgets} <span class="stat-legend">budgets</span>
        </h4>
      </div>
      <div class="col text-center">
        <h4>
          {stats.totalContribution}
          <span class="stat-legend">contributions</span>
        </h4>
      </div>
      <div class="col text-center">
        <h4>{stats.totalDuration} <span class="stat-legend">heures</span></h4>
      </div>
      <div class="col text-center">
        <h4>
          {stats.retributedContributionRatio}%
          <span class="stat-legend">rétribuées</span>
        </h4>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .budget-card {
    margin-bottom: 4rem;
   
  }
  .stat-legend {
    display: block;
    font-size: 0.85rem;
  }
  .data-details {
    max-height: 300px;
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    table {
      margin-left: 5%;
      width: 95%;
    
    }
  }

  .expand-table {
    line-height: 15px;
  }
</style>
