<script>
  import Main from "./lib/Main.svelte";
  import Header from "./lib/Header.svelte";
  import Filters from "./lib/Filters.svelte";
  import FiltersSelection from "./lib/filters/Selection.svelte";
</script>

<Header/>
<Filters/>
<FiltersSelection />
<Main/> 

